<div class="jumbotron transparent">
  <div class="container">
    <h1><small>Gereja Baptis Indonesia</small> Baitlahim <small>Bandung</small></h1>
    <p>
      Selamat datang di halaman tentang kami, Gereja Baptis Indonesia Baitlahim Bandung.. Pada halaman ini menjelaskan secara singkat siapa dan berawal dari mana Gereja kami..
    </p>
  </div>
</div>
<div class="container">
  <p class="text-justify lead">
    <strong>Gereja Baptis Indonesia Baitlahim Bandung</strong> dimulai pada tahun 1954 di rumah anggota Gereja Baptis Pertama Bandung, Diakon Mathias. Pelayanan di mulai dengan pelayanan Sekolah Minggu di Jl. Jendral Sudirman oleh Bapak dan Ibu Diakon Mathias bersama beberapa orang guru Sekolah Minggu dari Gereja Baptis Pertama Bandung. Kehadiran Sekolah Minggu pada saat itu di hadiri rata-rata 40 orang anak. Pelayanan ini terus berkembang pesat sehingga membuat tempat pelayanan tidak mencukupi lagi.
  </p>  
</div>
