<div class="jumbotron transparent">
  <div class="container">
    <h1><small>Gereja Baptis Indonesia</small> Baitlahim <small>Bandung</small></h1>
    <p>
      Selamat datang di halaman tentang kami, Gereja Baptis Indonesia Baitlahim Bandung.. Pada halaman ini menjelaskan secara singkat siapa dan berawal dari mana Gereja kami..
    </p>
  </div>
</div>
<div class="container">
  <p class="text-justify lead">
    <strong>Gereja Baptis Indonesia Baitlahim Bandung</strong> dimulai pada tahun 1954 di rumah anggota Gereja Baptis Pertama Bandung, Diakon Mathias. Pelayanan di mulai dengan pelayanan Sekolah Minggu di Jl. Jendral Sudirman oleh Bapak dan Ibu Diakon Mathias bersama beberapa orang guru Sekolah Minggu dari Gereja Baptis Pertama Bandung. Kehadiran Sekolah Minggu pada saat itu di hadiri rata-rata 40 orang anak. Pelayanan ini terus berkembang pesat sehingga membuat tempat pelayanan tidak mencukupi lagi.
  </p>
  <p class="text-justify lead">
    Puji Tuhan, ketika Gereja bergumul untuk mencari tempat pelayanan baru, keluarga <strong>Widarma</strong> yang tinggal dekat rumah Diakon Mathias merelakan rumahnya digunakan untuk pelayanan sekolah minggu. Dan selanjutnya seluruh kegiatan dialihkan ke <strong>tempat yang baru</strong>. Di tempat ini kebaktian diadakan pagi dan sore hari. Selain Sekolah Minggu, diadakan juga kegiatan <big><strong>Persatuan Latihan</strong></big> untuk <strong>Kaum Muda</strong> dan <strong>Persekutuan Wanita</strong>.
  </p>
  <p class="text-justify lead">
    Pada <big>4 Maret 1962</big>, <strong>Pdt. Ishak Iskandar</strong> dengan 25 anggota gereja bertekad mengorganisasikan diri dengan nama <strong><big>"Gereja Baptis Raya Barat"</big></strong>. Dengan dasar ayat, Markus 16:15 <small><em>"Pergilah ke seluruh dunia beritakanlah Injil kepada segala makhluk"</em></small>. Pada masa itu <strong>Miss Ditsworth</strong> dari misi baptis juga terlibat melayani.
  </p>
  <p class="text-justify lead">
    Pada <big>Juli 1965</big> Pdt Ishak Iskandar terpanggil melayani di tempat lain dan <strong>Pdt. Daniel Marantika</strong> yang menjadi Gembala Sidang menggantikan beliau. Ada beberapa peristiwa penting yang patut dicatat semasa Pdt Daniel Marantika menjabat sebagai Gembala Sidang, yaitu:
  </p>

  <blockquote class="blockquote-reverse">
    <ol>
      <li>
        Tahun 1966 perubahan nama Gereja Raya Barat menjadi <strong><big>"Gereja Baptis Baitlahim"</big></strong> yang berarti <em>gudang gandum</em>.
      </li>
      <li>
        Dibuka dua cabang gereja yaitu di Jl. Natawijaya (rumah diakon Harun Slamet) dan di Gang Beureum.
        <footer>Sayangnya cabang Gang Beureum berakhir tahun 1972</footer>
      </li>
      <li>
        Tahun 1967 cabang Natawijaya mengorganisasikan diri dan bernama <strong><big>"Gereja Baptis Indonesia Immanuel"</big></strong>.
      </li>
      <li>
        Tahun 1967 gereja turut mengsukseskan <big>GEHIBA</big> atau <big>Gerakan Hidup Baru</big> yaitu suatu kebangunan rohani tingkat nasional.
      </li>
      <li>
        Pada tahun 1968 pelayanan berjalan terus dan berkembang sehingga pada masa itu ada <big>154</big> orang anggota gereja.
      </li>
    </ol>
  </blockquote>
</div>
